body {
  font-family: "Helvetica", sans-serif;
  font-size: 20px;
  background-color: #f6f6f6;
  }

.content {
  max-width: 950px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
  }

.info {
  column-count: 2;
  float: left;
  }

.left {
  width: 40%;
  }

.right {
  width: 60%;
  }
